Welcome, admin.

<P> <A href=/books>Books</A> </P>
<P> <A href=/cards>Cards</A> </P>
<P> <A href=/referrals>Referrals</A> </P>
<P> <A href=/plans>Plans</A> </P>

<P> <A href=/admins/sign_out/>Log out</A></P>
