<%= form_for(buy_plan) do |f| %>
  <% if buy_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buy_plan.errors.count, "error") %> prohibited this buy_plan from being saved:</h2>

      <ul>
      <% buy_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
