Welcome to my site.

<P><A href=pages/products>See some books</A></P>

You can also join one of the following plans -<P>
<A href=http://coding4medicine.com:21179/buy_plans/new?plan_id=4>Server</A><P>
<A href=http://coding4medicine.com:21179/buy_plans/new?plan_id=3>Tutorial</A><P>
<A href=http://coding4medicine.com:21179/users/sign_up>Free minimal</A>

<P>If you are a member, <A href=pages/page0>log in to access your page</A>.</P>
